body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.menu-section {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

.menu-section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.menu-item {
    text-align: center;
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
}

.item-details {
    margin-top: 10px;
}

.dish-name {
    font-weight: bold;
}

.dish-price {
    color: #888;
}

/* Responsive Design */
@media (max-width: 425px) {
    main {
        grid-template-columns: 1fr;
    }
}